<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <md-input-container>
      <input mdInput #filter placeholder="Search">
    </md-input-container>

    <div class="price-filter">
      <div>Price Filter</div>
      <md-slider [min]="minPrice" thumbLabel [max]="maxPrice" step="1" [value]="maxPrice"
                 #price></md-slider>
    </div>
  </md-sidenav>

  <div>
    <div class="info-bar">
      <div class="total-nights">Total Nights: {{totalNights}}</div>
      <button md-button (click)="toggleNameSort()">Sort by Name</button>
      <button md-button (click)="togglePriceSort()">Sort by Price</button>
    </div>
    <tj-hotels-list [hotels]="hotels"
                    [nameFilter]="filter.value"
                    [priceFilter]="price.value"
                    [orderBy]="orderBy"></tj-hotels-list>
  </div>
</md-sidenav-container>
