:host {
  display: flex;
  height: 100%;

  md-sidenav-container {
    margin: 0 auto;
    padding: 20px;
  }

  md-sidenav {
    width: 300px;
    box-shadow: 0 1px 20px -8px #000;
    padding: 20px;
  }

  ::ng-deep .mat-sidenav-content {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
  }

  .mat-sidenav-container {
    background: transparent;
    padding: 0;
    width: 100%;
  }

  .mat-input-container {
    display: block;
  }

  .price-filter {
    margin-top: 20px;

    .mat-slider {
      display: block;
      margin-left: -8px;
    }
  }

  .info-bar {
    display: flex;
    align-items: center;
    padding: 5px;

    .total-nights {
      margin-right: auto;
    }
  }
}
