:host {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      flex: 0 0 20%;
      height: 120px;
      margin: 5px;
    }
  }
}
