<ul>
  <ng-container *ngFor="let hotel of hotels | filterBy: {name: nameFilter} | orderBy: [orderBy]">
    <li *ngIf="hotel.price <= priceFilter">
      <tj-hotel [hotel]="hotel"></tj-hotel>
    </li>
  </ng-container>
</ul>
