:host {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 70%;
  margin: 100px auto 0 auto;
  padding: 40px;

  h3 {
    display: block;
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    > * {
      flex: 1;

      &:last-child {
        flex: 0;
      }
    }
  }
}
