<h3>Search for hotels</h3>

<form novalidate (ngSubmit)="search()"
      [formGroup]="searchFormGroup">
  <md-input-container>
    <input mdInput [min]="today" [mdDatepicker]="fromPicker" formControlName="fromDate" placeholder="From">
    <button mdSuffix [mdDatepickerToggle]="fromPicker"></button>
  </md-input-container>
  <md-datepicker #fromPicker></md-datepicker>

  <md-input-container>
    <input mdInput [min]="searchFormGroup.controls.fromDate.value || today" [mdDatepicker]="toPicker"
           formControlName="toDate"
           placeholder="To">
    <button mdSuffix [mdDatepickerToggle]="toPicker"></button>
  </md-input-container>
  <md-datepicker #toPicker></md-datepicker>

  <button md-raised-button>Submit</button>
</form>
