@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  background: url('assets/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
